html {
  box-sizing: border-box;
  //scroll-behavior: smooth;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  font-family: $worksans;
  font-size: $font_base;
  color: $black;
  background-color: $white;
  line-height: $line_height;
  @include push--auto;
  max-width: 2500px;
}

header{
  display: flex;
  flex-direction: column-reverse;
}