// single post
.section__single__post{
  @include wrapper(1250px, 0);
  .post__flex{
    @include mq('desktop-small'){
      display: flex;
      justify-content: space-between;
    }
  }
  .post__main{
    flex: 2;
  }
}