.post__article{
  .post__excerpt{
    font-weight: 500;
    font-size: 20px;
  }
  .post__content{
    font-size: 16px
  }
}

.post__header{
  margin: 2em 0 1em;
  p{
    display: inline-block;
    margin-right: 3em;
  }
}

.single__post__img{
  margin-top: 2em;
}
















