.author__info, .subscriber__info{
  text-align: center;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: $big_shadow;
  padding: 2em;
  @include wrapper(900px, 3em);
}
.subscriber__info__img{
  border-radius: 100%;
}
.admin__badge{
  margin: 1em 0;
  display: inline-block;
  padding: 0.5em;
  border-radius: 3px;
  background-color: $darkBlue;
  @include font(18px, $white, 500);
}
.author__tutos, .author__posts{
  @include wrapper(1200px, 3em);
  &__container{
    margin-top: 3em;
  }
}

.profile__links{
  @include wrapper(900px, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  a{
    text-align: center;
    min-width: 200px;
    margin: 15px 2em;
    border-radius: 3px;
    border:1px solid $darkBlue;
    padding: 5px 10px;
    transition: 0.3s;
    &:hover{
      background-color: $darkBlue;
      color: $white;
      transition: 0.3s;
    }
  }
}
