.section__legal{
  @include wrapper(900px, 0);
  p{
    padding-bottom: 1em;
  }
  h2, h3, h4{
    padding: 20px 0 10px 0;
  }
}
.legal__container{
  padding: 3em;
  background-color: #f8fafb;
  border-radius: 3px;

}