.section__profile{
  @include wrapper(1000px, 0);
}
.profile__info{
  @include wrapper(600px, 0);
  background-color: $white;
  padding: 30px;
  box-shadow: $big_shadow_hover;
  border-radius: 4px;
  text-align: center;
  div{
    margin: 1em auto;
  }
  &__name{
    font-size: 20px;
  }
  .text--bold{
    font-size: 20px;
    font-weight: 500;
    display: block;
  }
}


