.section__search{
  @include wrapper(1000px, 2em);
}
.search__content{
  background-color: $white;
  box-shadow: $big_shadow_hover;
  border-radius: 3px;
  padding: 2em;
}
.search__content__title{
  padding-bottom: 10px;
  @include font(25px, $black, 500);
}
.search__content__results{
  margin-top: 0.5em;
  padding: 1.2em;
  display: flex;
  border-radius: 3px;
  align-items: flex-start;
}
.search__title{
  padding: 0.3em 0.5em;
  border-radius: 3px;
  background-color: rgba(211, 212, 213, 0.4);
}
.search__paginate{
  margin-top: 1em;
}
.post__type{
  margin-right: 2em;
  min-width: 120px;
}
.search__result__meta{
  display: flex;
}
.search__result__date{
  margin-right: 1em;
}
.search__result__title:hover{
  color: $darkBlue;
}
.category--articles{
  text-align: center;
  background-color: $yellow;
  padding: 1px 10px;
  border-radius: 3px;
  text-transform: uppercase;
}
.category--tutoriels{
  text-align: center;
  background-color: $green;
  padding: 1px 10px;
  border-radius: 3px;
  text-transform: uppercase;
}
.category--forum{
  text-align: center;
  background-color: $pink;
  padding: 1px 10px;
  border-radius: 3px;
  text-transform: uppercase;
}
.category--emplois  {
  text-align: center;
  background-color: $blue;
  padding: 1px 10px;
  border-radius: 3px;
  text-transform: uppercase;
}
