// formulaires
input, select{
  border: none;
  border-bottom: 1px solid $darkBlue;
  padding: 0.5em 1em;
  border-radius: 2px 2px 0 0;
  background-color: transparent;
  font-size: 1em;
  font-family: $worksans;
  &:focus{
    background-color: rgba(255, 255, 255, 0.25);
    outline: none;
  }
}
legend{
  font-weight: 500
}
textarea{
  border: 1px solid $darkBlue;
  padding: 0.5em 1em;
  height: 200px;
  font-size: 1em;
  font-family: $worksans;
  border-radius: 3px;
  &:focus{
    outline: none;
    background-color: #f2f4f9;
  }
}
button,
input[type='submit'],
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='image'],
label[for] {
  cursor: pointer;
}
input:-webkit-autofill {
  box-shadow: 0 0 0 62.5rem $white inset;
}
button,
input,
optgroup,
select,
textarea,
input::placeholder,
textarea::placeholder{
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}
input[type='text'],
input[type='email'],
input[type='password'],
input[type='search'],
input[type='image'] {
    -webkit-appearance: none;
  -moz-appearance: none;
}


