h1{
  @include font(50px, $black, 500 );
  @include mq('tablet-wide') {
    font-size: 70px;
  }
}
.home__title{
    text-transform: uppercase;
    font-weight: 700;
  }
h3{
  @include font (25px, $black, 400);
}
h2{
  @include font(30px, $black, 500);
  @include mq('tablet-wide') {
    font-size: 40px;
  }
}
.footer__title{
  padding: 2em 0;
}
.tuto__title{
  @include font(22px, $black, 400 );
}
.single__title{
  @include font(25px, $black, 500 );
  max-width: 700px;
  margin: 0 auto 0.5em;
  @include mq('tablet') {
    font-size: 40px;
  }
}
.aside__title{
  font-size: 20px;
  background-color: $yellow;
  display: inline;
  padding: 0.5em;
  border-radius: 3px;
}
.profile__title{
  font-size: 25px;
  margin-bottom: 1em;
}
.post__title{
  @include mq('desktop') {
    font-size: 30px;
  }
  margin-bottom: 1em;
  position: relative;
  &:after{
    @include pseudo;
    background-image:url(../img/underline.svg);
    top:100%;
    left: 0;
    width: 60%;
    height: 100%;
    background-repeat: no-repeat;
    z-index: -1;
  }
}
.thread__title{
  @include font(20px, $black, 500);
  margin-bottom: 0.25em;
}
.aside__post__title{
  @include font(17px, $black, 500);
}
.job__title{
  @include font(18px, $black, 500);
  margin-bottom: 0.75em;
}
.search__result__title{
  @include font(18px, $black, 400);
}