.thread_aside{
  @include wrapper(1000px, 3em);
  .thread__date{
    padding: 1em 0;
  }
  div:first-of-type{
    margin-bottom: 1em;
  }
}

.thread_aside__container{
  margin-top: 2em;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.thread_aside__content{
  flex: 1;
  margin: 1em 0;
  box-shadow: $big_shadow;
  border-radius: 3px;
  padding: 2em;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  &:hover{
    box-shadow: $big_shadow_hover;
    transform: translateY(-5px);
    transition: 0.3s;
  }
}