// animation illustration page tuto
  .tuto_appear {
    opacity: 0;
    animation: hideshow 10s infinite;
  }
  .tuto_text1{
    //transform: translateX(66px) translateY(69px);
    animation: tutotext_1 10s ease-in-out infinite;
  }
  .tuto_text2{
    //transform: translateX(30px) translateY(69px);
    animation: tutotext_2 10s ease-in-out infinite;
  }

@keyframes tutotext_1 {
  0% { transform: translateX(15px)  }
  31% { transform: translateX(0)  }
  60% { transform: translateX(0); }
  71% { transform: translateX(15px) }
  100% { transform: translateX(15px) }
}

@keyframes tutotext_2 {
  0% { transform: translateX(-15px) }
  31% { transform: translateX(0) }
  60% { transform: translateX(0); }
  71% { transform: translateX(-15px) }
  100% { transform: translateX(-15px) }
}
@keyframes hideshow {
  0% { opacity: 0; }
  30% { opacity: 0; }
  31% { opacity: 1; }
  70% { opacity: 1; }
  71% { opacity: 0; }
  100% { opacity: 0; }
}

// animation illustration page forum

  .bubble_1{
    animation: bubbleTalk_1 8s ease-in-out infinite;
  }
  .bubble_2{
    animation: bubbleTalk_2 8s ease-in-out infinite;
  }

@keyframes bubbleTalk_1 {
  0%{
    opacity: 0;
    transform: translateY(100px);
  }
  25%{
    opacity: 1;
    transform: translateY(0);
  }
  80%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

@keyframes bubbleTalk_2 {
  0%{
    opacity: 0;
    transform: translateY(100px);
  }
  25%{
    opacity: 0;
    transform: translateY(100px);
  }
  45%{
    opacity: 1;
    transform: translateY(0);
  }
  80%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}


// Blog page animations
.blog_rec{
  animation:stroke-offset 20s ease-in infinite;
}


@keyframes stroke-offset {
  0% {
    stroke-dasharray:0 100%;
  }
  20%{
    stroke-dasharray:100% 0;
  }
  100%{
    stroke-dasharray:100% 0;
  }
}

.circle_blog_1, .circle_blog_2, .circle_blog_3{
  animation:circleAnime 20s ease-in-out infinite;
}

@keyframes circleAnime {
  0% {
    opacity:0;
    transform:translateX(-40px);
  }
  10%{
    opacity:1;
  }
  20%{
    transform:translateX(0);
  }
  100%{
    transform:translateX(0);
  }
}

.job_attach{
 animation:jobanime 5s ease-in-out infinite;
}

@keyframes jobanime {
  0% {
  transform:translateY(-14px);
    
  }
  50%{
  transform:translateY(0);
  }
  100%{
  transform:translateY(-14px);
  }
}

.contact__illu{
  transform:rotate(-10deg) translateX(-20px) ;
}

.hero__illu{
  margin-right: 50px
}