img{
  //width: 100%;
  height: auto;
}
.single__post__img img, .featured__posts img{
  width: 100%;
}

.tuto__img{
  display: none;
  max-width: 230px;
  @include mq('tablet-wide'){
    display: block;
  }
}
.job__img__container{
  margin-right: 1.5em;
  img{
    border-radius: 100%;
    max-width: 60px;
  }
}

aside img{
  width: 143px;
}
.profile__info__picture {
  margin: 0 auto;
  width: 200px;
  img{
    border-radius: 100%;
    padding: 15px;
    border: 2px double $darkBlue;
  }
}