// wysiwyg
.single__post__content, .single__tuto__content{
  margin-bottom: 2em;
  p, ol, ul{
    padding-bottom: 1em;
  }
  strong{
    font-weight: 500;
  }
  h2{
    font-size: 25px;
    padding: 1em 0 0.5em;
  }
  h3{
    font-weight: 500;
    font-size: 20px;
    padding: 1em 0 0.5em;
  }
  h4{
    font-weight: 500;
    font-size: 18px;
    padding: 1em 0 0.5em;
  }
  li{
    padding-bottom: 0.5em;
  }
  ul, ol{
    padding-left: 2em;
  }
  ul{
    list-style-type: disc;
  }
  ol{
    list-style-type: decimal;
  }
  img{
    max-width: 600px;
  }
  em{
    font-style: italic;
  }
  a{
    display: inline-block;
    position: relative;
    z-index: 0;
    &::after {
      @include pseudo;
      z-index: -1;
      bottom: -2px;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: 3px;
      background-color:$yellow;
      transition: all 250ms;
    }
    &:hover {
      &::after {
        height: 105%;
        width: 102%;
      }
    }
  }
  blockquote{
    background-color: #99c1d080;
    border-radius: 3px;
    font-style: italic;
    padding:1em 2em 0;
    p{
      position: relative;
      &:before{
        content: '"';
        font-size: 20px;
        position: absolute;
        top: -5px;
        left: -10px;
      }
      &:after{
        content: '"';
        font-size: 20px;
        position: absolute;
        bottom: 0;
        right: -10px;
      }
    }
  }
}
  div.syntaxhighlighter{
    border-radius: 3px;
  }
  div.padd{
    padding: 1em !important;
    .line{
      padding: 3px 0 !important;
    }
  }